data/**
!data/modelos_agre/*
#!data/modelos_agre/.gitkeep
!data/geo/
#!data/geo/.gitkeep
# =========================
# Datos pesados / binarios
# =========================
*.nc
*.nc4
*.cdf
*.netcdf
*.csv
*.zip
*.npy

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/
dist/
build/

# =========================
# Entornos
# =========================
.env
.venv
venv/
conda-env/
*.lock

# =========================
# IDE / SO
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Logs temporales
# =========================
*.log
*.tmp
*.bak

